@import 'root.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-light);
    transition: 0.2s ease;
}
nav{
    padding: var(--p-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--s-4xl);
    border: 1px solid var(--border-light);
    .logo{
        color: var(--text-light);
    }
    .search-dashboard{
        height: var(--s-3xl);
        width: 400px;
        /*border: 1px solid var(--border-light);*/
        input{
            height: 100%;
            width: 100%;
            border: none;
            border-bottom: 1px solid var(--border-light);
            text-indent: var(--s-md);
            font-size: var(--s-xl);
            text-align: center;
            /*outline: none;*/
        }
        input:focus{
            outline: none;
        }
    }
    #nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--s-md);
        color: var(--text-light);
        /*border: 1px solid var(--border-light);*/
        width: 300px;
        .dp{
            height: var(--s-3xl);
            width: var(--s-3xl);
            border: 1px solid var(--border-light);
            border-radius: 50%;
            img{
                width: 100%;
                object-fit: contain;
                border-radius: 50%;
            }
        }
    }
}

section#side-section{
    position: relative;
    padding: var(--p-md);
    height: calc(100vh - var(--s-4xl));
    width: 100px;
    border: 1px solid var(--border-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .home{
        height: var(--s-3xl);
        width: var(--s-3xl);
        /*background-color: var(--border-light);*/
        color: var(--text-light);
        font-size: var(--s-2xl);
        display: grid;
        place-items: center;
    }
    .grid-nav{
        display: flex;
        flex-direction: column;
        gap: var(--s-2xl);
        align-items: center;
        font-size: var(--s-2xl);
        /*background-color: var(--border-light);*/
        color: var(--text-light);
    }
    .grid-nav i:hover{
        color: #2D68C4;
    }
    .side-menu{
        display: flex;
        flex-direction: column;
        gap: var(--s-md);
        align-items: center;
        font-size: var(--s-2xl);
        /*background-color: var(--border-light);*/
        color: var(--text-light);
    }
}

section#main-section {
    padding: var(--p-lg);
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(100vh - var(--s-4xl));
    width: calc(100vw - 100px);
    border: 1px solid var(--border-light);

    .cards {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(6, minmax(100px, 1fr));
        grid-template-rows: repeat(2, minmax(100px, 1fr));
        grid-template-areas:
        "todo todo todo planner planner planner"
        "motivation motivation pomodoro pomodoro goals goals";
        gap: var(--s-xl);

        .card {
            background-color: var(--card-light);
            padding: var(--p-lg);
            color: var(--text-light);
        }

        .todo {
            position: relative;
            height: 100%;
            border: 1px solid var(--border-light);
            border-radius: 10px;
            grid-area: todo;

            p {
                margin-top: 10px;
            }

            i {
                position: absolute;
                bottom: 10px;
                right: 10px;
                font-size: var(--s-2xl);
            }
        }

        .planner {
            position: relative;
            height: 100%;
            border: 1px solid var(--border-light);
            border-radius: 10px;
            grid-area: planner;

            p {
                margin-top: 10px;
            }

            i {
                position: absolute;
                bottom: 10px;
                right: 10px;
                font-size: var(--s-2xl);
            }
        }

        .motivation {
            position: relative;
            height: 100%;
            border: 1px solid var(--border-light);
            border-radius: 10px;
            grid-area: motivation;

            p {
                margin-top: 10px;
            }

            i {
                position: absolute;
                bottom: 10px;
                right: 10px;
                font-size: var(--s-2xl);
            }
        }

        .pomodoro {
            position: relative;
            height: 100%;
            border: 1px solid var(--border-light);
            border-radius: 10px;
            grid-area: pomodoro;

            p {
                margin-top: 10px;
            }

            i {
                position: absolute;
                bottom: 10px;
                right: 10px;
                font-size: var(--s-2xl);
            }
        }

        .goals {
            position: relative;
            height: 100%;
            border: 1px solid var(--border-light);
            border-radius: 10px;
            grid-area: goals;

            p {
                margin-top: 10px;
            }

            i {
                position: absolute;
                bottom: 10px;
                right: 10px;
                font-size: var(--s-2xl);
            }
        }
    }

    #todo {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 50%;
        left: 50%;
        padding: var(--p-md);
        transform: translate(-50%, -50%);
        height: 90%;
        width: 95%;
        border: 1px solid var(--border-light);
        background-color: var(--bg-light);
        border-radius: 10px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: var(--s-2xl);
            color: var(--text-light);

            input {
                width: 300px;
                height: var(--s-2xl);
                text-indent: var(--s-md);
                background-color: var(--card-light);
                color: var(--text-light);
                border: none;
                border-radius: 10px;
            }

            input:focus {
                outline: none;
            }

            i {
                height: 40px;
                width: 40px;
                border: 1px solid var(--border-light);
                border-radius: 50%;
                display: grid;
                place-items: center;
            }
        }

        .todo-grid {
            padding: var(--p-lg);
            display: grid;
            height: 100%;
            grid-template-columns: repeat(6, minmax(100px, 1fr));
            grid-template-rows: repeat(2, minmax(100px, 1fr));
            grid-template-areas:
            "new-task new-task imp-task imp-task comp-task comp-task"
            "new-task new-task total-task total-task del-task del-task";
            gap: var(--s-xl);

            .new-task {
                padding: var(--p-md);
                color: var(--text-light);
                height: calc(100% - var(--s-2xl));
                border: 1px solid var(--border-light);
                grid-area: new-task;
                border-radius: 10px;
                background-color: var(--card-light);

                .tasks {
                    /*margin-top: 10px;*/
                    height: 50px;
                    /*border: 1px solid var(--border-light);*/

                    .task {
                        margin-top: 10px;
                        display: flex;
                        height: 100%;
                        justify-content: space-between;
                        align-items: center;
                        border: 1px solid var(--border-light);
                        /*text-indent: var(--s-md);*/
                        border-radius: 10px;

                        .task-text {
                            text-indent: var(--s-md);
                        }

                        .marker {
                            display: flex;
                            height: 100%;
                            width: 150px;
                            justify-content: space-evenly;
                            align-items: center;
                            border-left: 1px solid var(--border-light);

                            .imp {
                                display: grid;
                                place-items: center;
                                height: var(--s-2xl);
                                width: var(--s-2xl);
                                background-color: rgb(255 255 205 / 0.8);
                                border-radius: 50%;
                            }

                            .check {
                                display: grid;
                                place-items: center;
                                height: var(--s-2xl);
                                width: var(--s-2xl);
                                background-color: rgb(204 255 204 / 0.74);
                                border-radius: 50%;
                            }

                            .del {
                                display: grid;
                                place-items: center;
                                height: var(--s-2xl);
                                width: var(--s-2xl);
                                background-color: rgb(255 196 196 / 0.74);
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }

            .imp-task {
                padding: var(--p-md);
                color: var(--text-light);
                height: calc(100% - var(--s-2xl));
                border: 1px solid var(--border-light);
                grid-area: imp-task;
                border-radius: 10px;
                background-color: var(--card-light);
                &::-webkit-scrollbar{
                    height: 1px;
                    width: 1px;
                }
                .task {
                    margin-top: 10px;
                    display: flex;
                    height: 40px;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid var(--border-light);
                    /*text-indent: var(--s-md);*/
                    border-radius: 10px;

                    .task-text {
                        text-indent: var(--s-md);
                    }
                }
            }

            .comp-task {
                padding: var(--p-md);
                color: var(--text-light);
                height: calc(100% - var(--s-2xl));
                border: 1px solid var(--border-light);
                grid-area: comp-task;
                border-radius: 10px;
                background-color: var(--card-light);
                &::-webkit-scrollbar{
                    height: 1px;
                    width: 1px;
                }
                .task {
                    margin-top: 10px;
                    display: flex;
                    height: 40px;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid var(--border-light);
                    /*text-indent: var(--s-md);*/
                    border-radius: 10px;

                    .task-text {
                        text-indent: var(--s-md);
                    }
                }
            }

            .total-task {
                padding: var(--p-md);
                color: var(--text-light);
                height: calc(100% - var(--s-2xl));
                border: 1px solid var(--border-light);
                grid-area: total-task;
                border-radius: 10px;
                background-color: var(--card-light);
                h1{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                    height: 200px;
                    font-size: 250px;
                    text-align: center;
                }
            }

            .del-task {
                padding: var(--p-md);
                color: var(--text-light);
                height: calc(100% - var(--s-2xl));
                border: 1px solid var(--border-light);
                grid-area: del-task;
                border-radius: 10px;
                background-color: var(--card-light);
                overflow: scroll;
                &::-webkit-scrollbar{
                    height: 1px;
                    width: 1px;
                }
                .task {
                    margin-top: 10px;
                    display: flex;
                    height: 40px;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid var(--border-light);
                    /*text-indent: var(--s-md);*/
                    border-radius: 10px;

                    .task-text {
                        text-indent: var(--s-md);
                    }
                }
            }
        }
    }

    #planner {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 50%;
        left: 50%;
        padding: var(--p-md);
        transform: translate(-50%, -50%);
        height: 90%;
        width: 95%;
        border: 1px solid var(--border-light);
        background-color: var(--bg-light);
        border-radius: 10px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: var(--s-2xl);
            color: var(--text-light);

            input {
                width: 300px;
                height: var(--s-2xl);
                text-indent: var(--s-md);
                background-color: var(--card-light);
                color: var(--text-light);
                border: none;
                border-radius: 10px;
            }

            input:focus {
                outline: none;
            }

            i {
                height: 40px;
                width: 40px;
                border: 1px solid var(--border-light);
                border-radius: 50%;
                display: grid;
                place-items: center;
            }
        }

        .plan-container {
            /*border: 1px solid var(--border-light);*/
            height: calc(100% - var(--s-2xl));
            display: flex;
            justify-content: space-between;
            .plan-container--time{
                /*border: 1px solid var(--border-light);*/
                height: 100%;
                width: 75%;
                overflow-x: scroll;
                .time{
                    /*border: 1px solid var(--border-light);*/
                    color: var(--text-light);
                    margin-top: var(--s-xl);
                    margin-left: var(--s-sm);
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: var(--s-md);
                    li{
                        display: flex;
                        align-items: center;
                        height: 50px;
                        /*border-radius: var(--s-md);*/
                        /*border: 1px solid var(--border-light);*/
                        p{
                            width: 80px;
                        }
                        .plan-list{
                            padding: 5px;
                            height: 100%;
                            width: 100%;
                            background-color: var(--card-light);
                            border: 1px solid var(--border-light);
                            border-radius: 10px;
                            display: flex;
                            align-items: center;
                            .plan{
                                width: 150px;
                                height: 40px;
                                background-color: var(--card-light);
                                color: var(--text-light);
                                border: none;
                                border-right: 2px solid var(--border-light);
                                /*border-radius: 10px;*/
                                resize: none;
                                margin-right: 10px;
                                text-indent: var(--s-md);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            .btn{
                                height: 50px;
                                width: 50px;
                                border-radius: 10px;
                                border: 1px solid var(--border-light);
                            }
                        }
                    }
                    li:hover{
                        color: var(--time-light);
                    }
                }
            }
            ::-webkit-scrollbar{
                height: 1px;
                /*width: 1px;*/
            }
            .plan-container--calendar{
                border: 1px solid var(--border-light);
                height: 100%;
                width: 25%;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .calendar-container{
                    height: 50%;
                    width: 100%;
                    border: 1px solid var(--border-light);
                    margin-top: var(--s-xl);
                    background-color: var(--card-light);
                    border-radius: 10px;
                }
                .reset-planner{
                    height: 10%;
                    width: 100%;
                    border: 1px solid var(--border-light);
                    margin-bottom: var(--s-xl);
                    background-color: #CC0000;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: whitesmoke;
                }
                .reset-planner:hover{
                    background-color: #E60026;
                }
            }
        }
    }

    #motivation {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 50%;
        left: 50%;
        padding: var(--p-md);
        transform: translate(-50%, -50%);
        height: 90%;
        width: 95%;
        border: 1px solid var(--border-light);
        background-color: var(--bg-light);
        border-radius: 10px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: var(--s-2xl);
            color: var(--text-light);

            input {
                width: 300px;
                height: var(--s-2xl);
                text-indent: var(--s-md);
                background-color: var(--card-light);
                color: var(--text-light);
                border: none;
                border-radius: 10px;
            }

            input:focus {
                outline: none;
            }

            i {
                height: 40px;
                width: 40px;
                border: 1px solid var(--border-light);
                border-radius: 50%;
                display: grid;
                place-items: center;
            }
        }

        .quotes {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-height: 100px;
            width: 95%;
            /*border: 1px solid var(--border-light);*/

            .quote {
                color: var(--motivation-light);
                font-size: var(--s-2xl);
            }

            .author {
                position: absolute;
                bottom: 0;
                right: 0;
                color: #4169E1;
            }
        }

        .refresh {
            position: absolute;
            bottom: 10px;
            right: 50%;
            height: var(--s-3xl);
            width: var(--s-3xl);
            background-color: var(--card-light);
            border-radius: 50%;
            display: grid;
            place-items: center;
            border: 1px solid var(--border-light);
            color: var(--text-light);
            cursor: pointer;
        }
    }

    #pomodoro {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 50%;
        left: 50%;
        padding: var(--p-md);
        transform: translate(-50%, -50%);
        height: 90%;
        width: 95%;
        border: 1px solid var(--border-light);
        background-color: var(--bg-light);
        border-radius: 10px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: var(--s-2xl);
            color: var(--text-light);

            input {
                width: 300px;
                height: var(--s-2xl);
                text-indent: var(--s-md);
                background-color: var(--card-light);
                color: var(--text-light);
                border: none;
                border-radius: 10px;
            }

            input:focus {
                outline: none;
            }

            i {
                height: 40px;
                width: 40px;
                border: 1px solid var(--border-light);
                border-radius: 50%;
                display: grid;
                place-items: center;
            }
        }

        .timer-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 50%;
            /*border: 3px solid var(--border-light);*/
            display: flex;
            flex-direction: column;

            .timer {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    color: var(--text-light);
                    font-size: 250px;
                }
            }

            .timer-media {
                position: absolute;
                /*border: 1px solid var(--border-light);*/
                width: 100%;
                height: 20%;
                bottom: 0;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                i {
                    cursor: pointer;
                    color: var(--text-light);
                    font-size: var(--s-3xl);
                }
            }
        }
    }

    #goals {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 50%;
        left: 50%;
        padding: var(--p-md);
        transform: translate(-50%, -50%);
        height: 90%;
        width: 95%;
        border: 1px solid var(--border-light);
        background-color: var(--bg-light);
        border-radius: 10px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: var(--s-2xl);
            color: var(--text-light);

            input {
                width: 300px;
                height: var(--s-2xl);
                text-indent: var(--s-md);
                background-color: var(--card-light);
                color: var(--text-light);
                border: none;
                border-radius: 10px;
            }

            input:focus {
                outline: none;
            }

            i {
                height: 40px;
                width: 40px;
                border: 1px solid var(--border-light);
                border-radius: 50%;
                display: grid;
                place-items: center;
            }
        }

        section{
            padding: var(--p-md);
            height: calc(100% - var(--s-2xl));
            display: flex;
            justify-content: space-between;
            #goal-section {
                /*border: 1px solid var(--border-light);*/
                height: 100%;
                width: 50%;
                form input{
                    width: 100%;
                    height: var(--s-2xl);
                    background-color: var(--card-light);
                    border: none;
                    border-radius: 5px;
                    color: var(--text-light);
                    text-indent: var(--s-md);
                }
                input:focus {
                    outline: none;
                }
                .goal-input{
                    width: 100%;
                    height: calc(100% - var(--s-2xl));
                    /*border: 1px solid white;*/
                    .goal-done{
                        margin: 10px 0;
                        width: 100%;
                        height: var(--s-2xl);
                        background-color: var(--card-light);
                        /*border: 1px solid white;*/
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 var(--p-md);
                        color: var(--text-light);
                        border-radius: 5px;
                        .marker{
                            width: 20%;
                            /*border: 1px solid var(--border-light);*/
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    .goal-done.completed p {
                        text-decoration: line-through;
                        opacity: 0.6;
                    }
                }
            }
            #progress-section {
                /*border: 1px solid var(--border-light);*/
                height: 100%;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                .progress-circle{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid var(--border-light);
                    height: 500px;
                    width: 500px;
                    border-radius: 50%;
                    background: conic-gradient(limegreen 3.6deg, white 0deg);
                }
                .progress-circle::before{
                    content: '';
                    position: absolute;
                    border: 1px solid var(--border-light);
                    height: 450px;
                    width: 450px;
                    border-radius: 50%;
                    background-color: var(--bg-light);
                }
                .progress-value{
                    position: relative;
                    color: var(--text-light);
                    font-size: var(--s-2xl);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    #settings {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 50%;
        left: 50%;
        padding: var(--p-md);
        transform: translate(-50%, -50%);
        height: 90%;
        width: 95%;
        border: 1px solid var(--border-light);
        background-color: var(--bg-light);
        border-radius: 10px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: var(--s-2xl);
            color: var(--text-light);

            input {
                width: 300px;
                height: var(--s-2xl);
                text-indent: var(--s-md);
                background-color: var(--card-light);
                color: var(--text-light);
                border: none;
                border-radius: 10px;
            }

            input:focus {
                outline: none;
            }

            i {
                height: 40px;
                width: 40px;
                border: 1px solid var(--border-light);
                border-radius: 50%;
                display: grid;
                place-items: center;
            }
        }

        .weather-setting, .reset-account{
            padding: var(--p-md);
            color: var(--text-light);
            margin: var(--s-md) 0;
            h1{
                margin: var(--s-md) 0;
            }
            hr{
                margin: var(--s-md) 0;
                width: 50%;
                opacity: 0.1;
            }
            input{
                border: none;
                text-indent: var(--s-sm);
                height: var(--s-2xl);
                width: 200px;
                border-radius: 5px;
            }
            input:focus{
                outline: none;
            }
        }
        .weather-setting {
            button{
                background-color: #007a00;
                border: none;
                color: var(--text-light);
                height: var(--s-2xl);
                width: 50px;
                border-radius: 5px;
            }
            button:hover{
                background-color: #149514;
            }
        }
        .reset-account{
            button {
                background-color: #c83232;
                border: none;
                color: var(--text-light);
                height: var(--s-2xl);
                width: 200px;
                border-radius: 5px;
            }
            button:hover {
                background-color: #e30e0e;
            }
        }
    }
}